#FAV_COMPONENT {
    margin: 10px;
    width: 80%;
    height: 150px;
    background: white;

    min-height: 80px;;
    height: auto;
    
    .body {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;

        box-shadow: 1px 1px 10px 1px grey;

        &:hover {
            box-shadow: 1px 1px 10px 2px $primaryBlue;
        }

        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: inherit;

        .index-wrapper {
            @include flex-center();
            height: inherit;

            p{
                font-size: 1.4em;
            }
    
        }
    
        .details-wrapper {

            .title-wrapper{

                h5 {
                    font-size: 1.65em;

                }

            }

            .details {

            }
            
    
        }
    }


}